<html>
    <head>
              
    </head>
    <body>
        <a href="/es1">giochi tramite piattaforma</a><br>
        <a href="/es2">giochi pubblicati fra 2 anni</a><br>
        <a href="/es3">gioco con la somma del metascore e dell'user score più alto</a><br>
        <a href="/es4">Il numero di giochi per ogni piattaforma.</a><br>
        <a href="/es5">Le piattaforme che hanno più di un certo numero di giochi,</a><br>
        <a href="/es6">due grafici (a torta e treemap) </a><br>
        <a href="/es7">giochi di un genere e una piattaforma scelta dall'utente</a><br>
        <a href="/es8"> percentuale di giochi per genere per ogni piattaforma</a><br>
        <a href="/es9">grafico dell'esercizio precedente</a><br>
    </body>
</html>